<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clima Hoje</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header>

    <h1>Weather</h1>  
    <input type="text" placeholder="Pesquise a Cidade...">
    <a href="login.html" class="login">Faça seu login</a>

  </header>

  <main>
    
    <div class="tempohoje">
      <div>
        <h1>Sorocaba</h1>
        <p>Sexta, 02 de Janeiro</p>
        
        <div class="infos">
          <div class="pressao">
            <img src="img/icons8-pressão-atmosférica-48.png" alt="">
            <div class="elementos">
              <p>Pressão</p>
              <p>1012 hPa</p>
            </div>
          </div>
          <div class="umidade">
            <img src="img/icons8-higrômetro-48.png" alt="">
            <p>Umidade</p>
            <p>82%</p>
          </div>
          <div class="precipitacao">
            <img src="img/icons8-guarda-chuva-48.png" alt="">
            <p>Precipitação</p>
            <p>10%</p>
          </div>
          <div class="clima">
            <img src="img/icons8-dia-parcialmente-nublado-48.png" alt="">
            <p>Clima</p>
            <p>Parcialmente nublado</p>
          </div>
        </div>
      </div>

      <div>
        <span>Hoje</span>
        <img src="img/icons8-dia-parcialmente-nublado-48.png" alt="">
        <p>22°C</p>
        <p>18°C - 25°C</p>
      </div>
    </div>















    <!--<h2>Condições Climáticas Atuais</h2>

    <div class="weather-info">
      <p>Temperatura: 25°C</p>
      <p>Pressão Atmosférica: 1012 hPa</p>
      <p>Umidade: 60%</p>
      <p>Percentual de Precipitação: 10%</p>
      <p>Condição Climática: Ensolarado</p>
    </div>

    <h2>Consulta do Clima</h2>

    <label for="climaConsulta">Digite a localidade:</label>
    <input type="text" id="climaConsulta" placeholder="Informe a localidade">
    <button>Consultar</button>

    <h2>Resultados da Consulta</h2>
    <table>
      <thead>
        <tr>
          <th>Data</th>
          <th>Temperatura</th>
          <th>Pressão</th>
          <th>Umidade</th>
          <th>Precipitação</th>
          <th>Condição Climática</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024-02-02</td>
          <td>25°C</td>
          <td>1012 hPa</td>
          <td>60%</td>
          <td>10%</td>
          <td>Ensolarado</td>
        </tr>

      </tbody>
    </table>-->
  </main>

</body>

</html>